<footer class="page-footer brown lighten-4 z-depth-2">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Code4Pro</h5>
        <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur omnis, illo laboriosam sequi, consequuntur aut totam provident ipsam nam, commodi assumenda iure explicabo autem quasi dolor facere eum in delectus!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Social</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Linkedin</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Angellist</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2017 Code4Pro
    <%= link_to "About Me", pages_about_path, :class => "grey-text text-lighten-4 right" %>
    </div>
  </div>
</footer>
